name: Android & Node CI

on: [push]

jobs:
    build:
        runs-on: macos-latest

        strategy:
            matrix:
                node-version: [10.x]

        steps:
            - uses: actions/checkout@v1

            - name: Set up JDK 1.8
              uses: actions/setup-java@v1
              with:
                  java-version: 1.8

            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v1
              with:
                  node-version: ${{ matrix.node-version }}

            - name: Yarn Install, (Test)
              run: |
                  yarn
            - name: Build with Gradle
              run: yarn build
